.box{
    position: fixed;
    top: 0;
    width: 100%;
   
     background-color: rgb(139, 180, 180,0.05);
     display: flex;
     justify-content: space-evenly;
     height: 4vh;
     padding: 1em;
   }
   .link{
     width: 50%;
     display: flex;
     justify-content: space-evenly;
     
   }
   .lin{
     text-decoration: none;
     color: white;
     text-shadow: 2px 2px black;
     font-size: 1.5em;
   }
   
   .mobile{
     display: none;
     position: fixed;
     right: 0em;
     color: white;
     font-size: 2em;
     text-shadow: 3px 3px rgb(172, 0, 0);
    
   
   }
   .joibus{
     position: fixed;
     right: 3em;
     margin-left: 1.5em;
     background-color: red;
     /* border-radius: 20%; */
     box-shadow: 1px 1px  5px white;
     color: white;
     padding: 0.5em;
    
   }
   
   .joinlogin{
     position: fixed;
     right: 3em;
     margin-left: 1.5em;
     background-color: rgb(0, 94, 42);
     /* border-radius: 20%; */
     box-shadow: 1px 1px  5px white;
     color: white;
     padding: 0.5em;
   }
   .logo{
     position: fixed;
     left: 2.5em;
     color: white;
     background-color: red;
     width: 3em;
     height: 1.5em;
     border-radius: 100px 0px 100px 0px;
     font-family: Algerian;
     font-size: 2em;
     text-shadow: 2px 2px black;
     box-shadow: 2px 2px white;
   }
   
   @media screen and (max-width : 700px){
     .link{
       display: none;
     }
     .lin{
       font-size: 2em;
     }
     #menu{
       display: flex;
       flex-direction: column;
       align-items: center;
       background: rgb(131,58,180);
       background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
       border-radius: 0px 50px 0px 50px;
       height: 40vh;
       width: 70%;
       z-index: 1;
     }
     .mobile{
       display: unset;
       font-size: 2.5em;
       box-shadow: 4px 4px red ;
       border:2px solid red ;
     }
     .joibus{
       display: none;
     }
   
     .joinlogin{
       width: 8em;
       height: 3.5em;
       margin-right: 2em;
       font-size: 2em;
       box-sizing: border-box;
   
     }
     .box{
       height: 8vh;
     }
     .logo{
       font-size: 2em;
     }
   }