.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
   justify-content: center;
   background: rgb(154, 142, 162);
   /* background: linear-gradient(90deg, rgb(142, 121, 157) 0%, rgb(215, 179, 179) 50%, rgb(222, 98, 98) 100%); */
 
  }