.main{
  padding: 5em;
  display: flex;
  justify-content: space-around;
  height: 20vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
  color: white;
}
.griding{
  display: grid;
  grid-template-columns: 8em 8em 8em;
  grid-column-gap: 5em;
  justify-content: space-evenly;
  /* width: 20em; */
}
.links{
  margin-right: 1em;
}

@media screen and (max-width : 700px) {
  .main{
    width: 195%;
    height: 40vh;
  }

  .copy{
    width: 235%;
  }
}